/demo/Assets/OPPO-GAME-SDK_UserData
/demo/Assets/OPPO-GAME-SDK_UserData.meta
/demo/Assets/Temp
/demo/Assets/Temp.meta
/demo/Assets/TextMesh Pro
/demo/Assets/TextMesh Pro.meta
/demo/Build
/demo/Library
/demo/Logs
/demo/obj
/demo/ShaderLog
/demo/sign
/demo/Temp
/demo/UserSettings
/demo/.vs
/demo/.vsconfig
/demo/*.csproj
/demo/*.csproj.user
/demo/*.sln
/tools/version